.user-details-box {
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  max-width: 300px; /* Adjust as needed */
  margin-left: auto; /* Center the box */
  margin-right: 10px;
}

.user-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Space between each detail */
}

.user-detail label {
  font-weight: bold;
  color: black;
}

.user-detail span {
  color: black;
}
