.auth-form,
.signup-form {
  margin-left: auto;
  margin-right: 10px;
  float: right;
  border: 1px solid black;
  background-color: white;
  width: 250px;
  height: 350px;
  padding: 20px;
  overflow: auto;
}

.auth-title,
.signup-title {
  margin-top: 0;
  color: black;
}

.input-field,
.input-email,
.input-username,
.input-password,
.input-country {
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
}

.label-email,
.label-username,
.label-password {
  display: block;
  margin-top: 10px;
  color: black;
}

.btn-auth,
.btn-signup {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.btn-auth:hover,
.btn-signup:hover {
  background-color: #f0f0f0;
}

.custom-height-modal {
  height: 80px !important;
  max-height: 80vh !important;
  font-size: smaller;
  color: green;
}
